<mat-toolbar class="header mat-elevation-z4" >
    <span>
        <a>
            <img class="logo" src="assets/images/Screenshot_20210505-191757.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a>
            <i class="material-icons">
                home
            </i>
            Mascadim Angular rs
        </a>
    </span>
    <span class="sair">
        <a routerLink="/">
            <i class="material-icons">
                logout
            </i>
            Sair
        </a>
    </span>
</mat-toolbar>
